 {% extends 'base.html' %}

    {% block content %}
 <!-- CONTEÚDO -->
    <main>
      <h1>Danos</h1>
      <hr />

      <section class="lista-herois">
        <div class="card-heroi">Ashe <span>Dano</span></div>
        <div class="card-heroi">Bastion <span>Dano</span></div>
        <div class="card-heroi">Cassidy <span>Dano</span></div>
        <div class="card-heroi">Echo <span>Dano</span></div>
        <div class="card-heroi">Genji <span>Dano</span></div>
        <div class="card-heroi">Hanzo <span>Dano</span></div>
        <div class="card-heroi">Junkrat <span>Dano</span></div>
        <div class="card-heroi">Mei <span>Dano</span></div>
        <div class="card-heroi">Pharah <span>Dano</span></div>
        <div class="card-heroi">Reaper <span>Dano</span></div>
        <div class="card-heroi">Sojourn <span>Dano</span></div>
        <div class="card-heroi">Soldier: 76 <span>Dano</span></div>
        <div class="card-heroi">Sombra <span>Dano</span></div>
        <div class="card-heroi">Symmetra <span>Dano</span></div>
        <div class="card-heroi">Torbjörn <span>Dano</span></div>
        <div class="card-heroi">Tracer <span>Dano</span></div>
        <div class="card-heroi">Widowmaker <span>Dano</span></div>
      </section>
    </main>
    {% endblock content %}


