 {% extends 'base.html' %}

    {% block content %}
    <!-- CONTEÚDO -->
    <main>
        <h1>Suportes</h1>
        <hr>

        <section class="lista-herois">
            <div class="card-heroi">Ana <span>Suporte</span></div>
            <div class="card-heroi">Baptiste <span>Suporte</span></div>
            <div class="card-heroi">Kiriko <span>Suporte</span></div>
            <div class="card-heroi">Lúcio <span>Suporte</span></div>
            <div class="card-heroi">Mercy <span>Suporte</span></div>
            <div class="card-heroi">Moira <span>Suporte</span></div>
            <div class="card-heroi">Zenyatta <span>Suporte</span></div>
        </section>
    </main>

{% endblock content %}