 {% extends 'base.html' %}

    {% block content %}
    <!-- CONTEÚDO -->
    <main>
        <h1>Tanques</h1>
        <hr>

        <section class="lista-herois">
            <div class="card-heroi">D.Va <span>Tanque</span></div>
            <div class="card-heroi">Doomfist <span>Tanque</span></div>
            <div class="card-heroi">Junker Queen <span>Tanque</span></div>
            <div class="card-heroi">Orisa <span>Tanque</span></div>
            <div class="card-heroi">Ramattra <span>Tanque</span></div>
            <div class="card-heroi">Reinhardt <span>Tanque</span></div>
            <div class="card-heroi">Roadhog <span>Tanque</span></div>
            <div class="card-heroi">Sigma <span>Tanque</span></div>
            <div class="card-heroi">Winston <span>Tanque</span></div>
            <div class="card-heroi">Wrecking Ball <span>Tanque</span></div>
            <div class="card-heroi">Zarya <span>Tanque</span></div>
        </section>
    </main>

{% endblock content %}
